// LAYOUT STYLES

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}