// ==== VARIABLES ====

// COLORS
$clr-primary: #FBFDFF;
$clr-white: #fff;
$clr-accent: #3164EA;
$clr-grey: #4F4F4F;
$clr-grey-light: #828282;
$clr-black: #0F1129;


// FONTS
$fnt-regular: 'Yota Digit Regular';
$fnt-bold: 'Yota Digit Bold';
$fnt-black: 'Yota Digit Black';