.hi {
    padding: 120px 0px;
}


.hi__title {
    font-size: 96px;
    font-family: $fnt-black;
    color: $clr-grey;
    margin-bottom: 24px;
}

.hi__title:before {
    color: $clr-accent;
    content: "Спишем долги ";
  }


.hi__subtitle {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 48px;
    color: $clr-grey;

    max-width: 50ch;
}

.hi__btn {
    display: inline-block;
    padding: 25px 70px;
    background-color: $clr-accent;
    color: $clr-white;

    box-shadow: 0px 4px 30px rgba(49, 100, 234, 0.52);
    border-radius: 8px;

    font-size: 20px;
}